<!doctype html>
<html>
<head>
		<title>Digital Health 101</title>
</head>

<body>
	<div id="header">
		<h1>Digital Health 101</h1>
	</div>
	<div id="content">	
		<h2>{% block subheader %}{% endblock %}</h2>
		{% block content %}
		{% endblock %}
	</div>

	<div class="well sidebar-nav">
		{% block sidebar %}
		{% endblock %}
		<div id="tags">
			{% include 'tag_list.html' %}
		</div>
	</div>


	<div id="footer">
		Made in San Francisco 2014 <br>
		<a href= "{% url 'blog.views.index'%}">Home Page</a>
	</div>
</body>
</html>