{% extends 'base.html' %}


{% block subheader %} Top News in Digital Health {% endblock %}



{% block content %}

<div class="container-fluid">
	<u1 class="articles">
		{% for article in articles %}
		<li> 
			<img class="article-image" src="{{ article.publisher.image }}" height=100px width=100px/>
			<a class="article-link" href="/goto/?article_id={{ article.id }}">{{ article.title }}</a>
			<div class="metadata">
				<span class="pub_date">
					<strong>Date published: </strong>{{ article.date_published }}
				</span>
				<br>
				<span class="blurb">
					{{ article.blurb }}
				</span>
				<br>
				<span class="views">
					<strong>Number of views: </strong>{{ article.views }}
				</span>
				{% if article.tag_set.all %}
				<br>	
				<span class="tags">
					<strong>Tags: </strong>
					{% for tag in article.tag_set.all %}
						<a href="{% url 'blog.views.tag' tag.name %}">{{ tag.name }} | </a>
						{% endfor %}
				</span>
				{% endif %}		
		</li>
		<br>
		{% endfor %}
	</ul>
</div>
{% endblock %}
